<footer id="footer" class="footer">
    <div class="container">
        <div class="copyright text-center">
            <p>© <span>Copyright</span> <strong class="px-1 sitename">Alireza Kamankesh</strong> <span>All Rights Reserved<br /></span></p>
        </div>
        <div class="social-links d-flex justify-content-center">
            <a href="https://github.com/kamankeshalireza" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a>
            <a href="https://www.linkedin.com/in/alireza-kamankesh" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
            <a href="mailto:kamankeshalireza30@gmail.com"><i class="bi bi-envelope"></i></a>
        </div>
        <div class="credits">
            Developed by <a href="{% url 'blog:index' %}">Alireza Kamankesh</a>
        </div>
    </div>
</footer>